{% extends 'base.html' %}
{% block content %}

        <h1>LOGIN</h1>

        {% if form.errors %}
        <p class="error"> Usuario y Contrasena incorrectos</p>
        {% endif %}

        <form action="/account/loggedin/" method="post">{% csrf_token %}
            <label for="username">User name:</label>
            <input type="text" name="username" value="" id="username">
            <label for="password">Password:</label>
            <input type="password" name="password" value="" id="password">
            
            <input type="submit" value="InciarSesion">
        </form>

{% endblock %}
	