{% extends 'base.html' %}
{% block title %} Catalogo de libros {% endblock %}
{% block content %} 

<div class="container-fluid">
   	<div id="menucategorias" class="col-xs-3 col-sm-3" id="sidebar" role="navigation">
   		<div id="formatolibros" class="btn-group btn-group-justified">
	    <a class="btn btn-default active" role="button">Impreso</a>
	    <a class="btn btn-default" role="button">E-Book</a>
	    <a class="btn btn-default" role="button">IBD</a>
		</div><br>
        <div class="list-group">
            <a href="#" class="list-group-item active">Universal</a>
            <a href="#" class="list-group-item">Colombiana</a>
            <a href="#" class="list-group-item">Latinoamericana</a>
            <a href="#" class="list-group-item">Romantica</a>
            <a href="#" class="list-group-item">Filosofia</a>
            <a href="#" class="list-group-item">Ciencia Y Divulgacion</a>
            <a href="#" class="list-group-item">Humor</a>
            <a href="#" class="list-group-item">Deporte</a>
            <a href="#" class="list-group-item">Idiomas</a>
            <a href="#" class="list-group-item">Arte</a>
            <a href="#" class="list-group-item">Ciencia Y Divulgacion</a>
            <a href="#" class="list-group-item">Humor</a>
            <a href="#" class="list-group-item">Deporte</a>
            <a href="#" class="list-group-item">Idiomas</a>
            <a href="#" class="list-group-item">Arte</a>
            <a href="#" class="list-group-item">Ciencia Y Divulgacion</a>
            <a href="#" class="list-group-item">Humor</a>
            <a href="#" class="list-group-item">Deporte</a>
            <a href="#" class="list-group-item">Idiomas</a>
            <a href="#" class="list-group-item">Arte</a>
        </div>
    </div>
</div>

<div id="barratitulo" class="col-xs-9 col-sm-9">
  <div>
  <h1>Universal</h1>
  </div>
</div>

<div id="arealibros" class="col-xs-9 col-sm-9">
	<!-- -----------------------ZONA LIBROS-------------------------- -->
<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  
<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

<div id="divlibro">
  <div id="cabeceratitulo">
    <label id="titulo">1 Cincuenta Sombras de Grey</label>
  </div>
  <div id="int">
    <img class="img-thumbnail" src="/media/images/libros/288860.jpg">
  </div>
    <span><label id="precio">$ 51.000</label></span>
    <button class="btn btn-success">
      Sumar al Carrito <span class="fa fa-shopping-cart fa-lg"></span>
    </button>
</div>  

</div>
{% endblock %} 

